---
{% if present_vlans_ios.gathered is defined %} 
vlan_db:
{% for item in present_vlans_ios.gathered %}
  - vlan_id: {{ item.vlan_id }}
    name: {{ item.name }}
    state: {{ item.state }}
{% endfor %}{% elif present_vlans_nxos.gathered is defined %}
vlan_db:
{% for item in present_vlans_nxos.gathered %}
  - vlan_id: {{ item.vlan_id }}
    name: {{ item.name }}
    state: {{ item.state }}
{% endfor %}
{% endif %}
